<h1>Invite User to Room</h1>

    <form action="" method="post">
      <div>
        <label>Username (or email address, or #id):</label>
        <input type="text" name="usernameEmailId" size="30" value="{{reqBody.usernameEmailId}}"/>
      </div>
      <div>
        <label>Room Id:</label>
        <input type="text" name="roomId" size="30" value="{{reqBody.roomId}}"/>
      </div>

      <div>
        <label>Role to Grant:</label>
        <select id="role" name="role">
          {{#jrHtmlSelectOption reqBody.role}}
          <option value="member">Member</option>
          <option value="moderator">Moderator</option>
          <option value="owner">Owner</option>
          {{/jrHtmlSelectOption}}
        </select>
      </div>

      <div>
        <input type="submit" value="Submit" />
      </div>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>

