<h1>ADMINISTRATION TESING</h1>
<p>Choose a test function to run.</p>

<ul>
	<li><a href="/test/makeappsrooms">Make some test Apps and Rooms</a></li>
	<li><a href="/test/emergencyalert">Test emergency alert system</a></li>
	<li><a href="/test/trigger_crash">Trigger a crash error</a></li>
</ul>
