<h1>API INDEX</h1>

<ul>
	<li><a href="/api/reqrefresh">Request a long-lived Refresh token</a></li>
	<li><a href="/api/refreshaccess?token=">Get a short-lived Access token using a Refresh token</a></li>
	<li><a href="/api/reqaccess">Directly request a short-lives Access token (not for production use)</a></li>
	<li><a href="/api/tokentest?token=">Test/debug a Refresh or Access token</a></li>
</ul>
