<h1>API INDEX</h1>

<ul>
	<li><a href="/api/reqrefreshsession">Request a long-lived Refresh token from sessioned login</a></li>
	<li><a href="/api/reqrefreshcredentials">Request a long-lived Refresh token from username+password credentials</a></li>
	<li><a href="/api/refreshaccess?token=">Get a short-lived Access token using a Refresh token</a></li>
	<li><a href="/api/tokentest?token=">Test/debug a Refresh or Access token</a></li>
	<li><a href="/api/hello">Hello world test</a></li>
	<li><a href="/api/dos">DOS test</a></li>
</ul>
