/* showing a block of errors with UL inside */
.jrErrorList {
    padding: 10px;
    margin: 0px;
    background-color: #f44336; /* Red */
    color: white;
  }


  /* inline errors like when showing error next to a form field */
  .jrErrorInline {
    color: red;
    font-weight: bold;
    font-style: italic;
  }



  /* showing a similar block of non-error messages */
  .jrMessageList {
    padding: 20px;
    background-color: #2ecd0c;
    color: black;
    margin-bottom: 15px;
  }