/* showing a block with messages or errors inside */
.jrResultList {
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: white;
}

.jrResultList ul {
  padding: 10px;
  margin: 0;
  margin-left: 20px;
}
.jrResultList li {
  padding: 0;
  margin: 0;
}


/* different lists of success, error, neutral messages */

.jrErrorList {
  background-color: #f44336; /* Red */
}

.jrSuccessList {
  background-color: #229e06;
}

.jrMessageList {
    background-color: #0ca0cd;
}




/* inline errors like when showing error next to a form field */
.jrErrorInline {
  color: red;
  font-weight: bold;
  font-style: italic;
}
  
  