<h1>One-time Login Via-Email Request</h1>

<pre>{{message}}</pre>

    <form action="" method="post">
      <div>
        <label>Email address or username:</label>
        <input type="text" name="username_email" value="{{reqBody.username_email}}"/>
          <span class="jrErrorInline">{{jrResult.fields.username_email}}</span>
        <br/>
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>


<ul>
  <li><a href="/register">register</a></li>
  <li><a href="/login/facebook">Login with facebook</a></li>
  <li><a href="/login/twitter">Login with twitter</a></li>
  <li><a href="/login/google">Login with google</a></li>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
