<h1>Login</h1>

    <form action="" method="post">
      <div>
        <label>Username (or email address):</label>
        <input type="text" name="username_email" value="{{reqBody.username_email}}"/>
          <span class="jrErrorInline">{{jrResult.fields.username_email}}</span>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password"  value="{{reqBody.password}}"/>
          <span class="jrErrorInline">{{jrResult.fields.password}}</span>
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>


<ul>
  <li><a href="/register">Register</a></li>
  <li><a href="/login/facebook">Login with facebook</a></li>
  <li><a href="/login/twitter">Login with twitter</a></li>
  <li><a href="/login/google">Login with google</a></li>
  <li><a href="/login/email">Login with email one-time token</a></li>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
