<h1>Verify</h1>

    <form action="" method="post">
      <div>
        <label>Verification code:</label>
        <input type="text" name="code" value="{{reqBody.code}}"/>
          <span class="jrErrorInline">{{jrResult.errorFields.code}}</span>
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>


