<h1>MEMBERS ONLY PRIVATE PAGE</h1>

<p>Greetings {{username}}</p>
<p>User ID {{id}}</p>

<img src="/static/images/Skype.png"/>

<ul>
  <li><a href="/profile">profile</a></li>
  <li><a href="/login">login</a></li>
  <li><a href="/logout">logout</a></li>
</ul>
