<h1>Profile</h1>

<p>Authorized = {{auth}}</p>
<p>Session user = {{userInfo}}</p>

<img src="/static/images/Skype.png"/>

<ul>
  <li><a href="/login">login</a></li>
  <li><a href="/logout">logout</a></li>
  <li><a href="/membersonly">members only page</a></li>
</ul>
