<h1>SITE INTERNALS</h1>
<p>This is the site internals section.</p>

<ul>
	<li><a href="/internals/serverinfo">Web server info</a></li>
	<li><a href="/internals/site_options">Site options</a></li>
	<li><a href="/internals/structure_path">Site path structure</a></li>
	<li><a href="/internals/structure_db">Site database structure</a></li>
	<li><a href="/internals/resourceuse">Resource use</a></li>
	<li><a href="/internals/aclinfo">ACL info</a></li>
</ul>
