<h1>SITE INTERNALS</h1>
<p>This is the site internals section.</p>

<ul>
	<li><a href="/internals/appinfo">Application info</a></li>
	<li><a href="/internals/serverinfo">Web server info</a></li>
	<li><a href="/internals/config_options">Configuration options</a></li>
	<li><a href="/internals/config_files">Configuration files</a></li>
	<li><a href="/internals/routes">URL routes</a></li>
	<li><a href="/internals/database">Database info</a></li>
	<li><a href="/internals/resourceuse">Resource use</a></li>
	<li><a href="/internals/nodejs">NodeJs info</a></li>
	<li><a href="/internals/dependencies">Module dependencies</a></li>
	<li><a href="/internals/plugins">Plugin info</a></li>
	<li><a href="/internals/aclstructure">ACL structure</a></li>
	<li><a href="/static/jsdoc/index.html">Code documentation</a></li>
</ul>
