<h1>{{errorMessage}}</h1>
<h2>{{errprStatus}}</h2>

{{#if errorDetails}}
	<pre>{{errorDetails}}</pre>
{{/if}}

{{#if errorDebugDetails}}
	<h2>DEVELOPMENT MODE - Debugging info:</h2>
	<pre>{{errorDebugDetails}}</pre>
{{/if}}