<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul>
  <li><a href="profile">profile</a></li>
  <li><a href="/membersonly">members only page</a></li>
  <li><a href="register">register</a></li>
  <li><a href="login">login</a></li>
  <li><a href="logout">logout</a></li>
</ul>
