<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">

    <script src="/static/js/jquery/jquery.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <script src="/static/javascript/jrbgridlist.js"></script>

    <link rel='stylesheet' href='/static/stylesheets/style.css' />
    <link rel='stylesheet' href='/static/stylesheets/jrs_misc.css' />

    <title>{{title}}</title>
  </head>
  <body>
    {{> loggedInInfo }}
    {{> jrresults }}
    {{{body}}}
    {{> bottomNavbar }}
  </body>
</html>
