<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
    <link rel='stylesheet' href='/static/stylesheets/jrhelpers.css' />
  </head>
  <body>
    {{> jrresults }}
    {{{body}}}
  </body>
</html>
