<h1>MESSAGE</h1>
<pre>{{message}}</pre>

<ul>
  <li><a href="/profile">profile</a></li>
  <li><a href="/register">register</a></li>
  <li><a href="/login">login</a></li>
  <li><a href="/logout">logout</a></li>
</ul>
