<h1>{{headline}}</h1>

<div>{{message}}</div>

<br/>

	<form action="" method="post">

		<div>{{formExtraSafeHtml}}</div>

	   	<div>
        	<input type="submit" value="DO IT NOW" />
    	</div>

    	<input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
