<h1>ADMINISTRATION SECTION</h1>
<p>This is the administration section.</p>

<ul>
	<li><a href="/crud/app">Manage Apps</a></li>
	<li><a href="/crud/room">Manage Rooms</a></li>
	<li><a href="/crud/user">Manage Users</a></li>
	<li><a href="/crud/login">Manage Bridged logins</a></li>
	<li><a href="/crud/verification">Manage Verifications</a></li>
	<li><a href="/crud/roomdata">Manage Roomdata</a></li>
	<li><a href="/crud/role">Manage Role assignments</a></li>
	<li><a href="/crud/log">Manage Logs</a></li>
</ul>
<ul>
	<li><a href="/crud/session">Manage Session data</a></li>
</ul>
<ul>
	<li><a href="/crud/file">Manage Files</a></li>
	<li><a href="/crud/option">Manage Options</a></li>
	<li><a href="/crud/connection">Manage Connections</a></li>
	<li><a href="/crud/subscription">Manage Subscription data</a></li>
	<li><a href="/crud/modqueue">Manage ModerationQueue data</a></li>
</ul>
<ul>
	<li><a href="/test">Testing Operations</a></li>
	<li><a href="/internals">Site Internals</a></li>
	<li><a href="/analytics">Site Analytics</a></li>
	<li><a href="/api">API Access</a></li>

	<!-- <li><a href="/admin/acl">Manage ACL</a></li>  -->
</ul>
