<h1>ADMINISTRATION SECTION</h1>
<p>his is the administration section.</p>

<ul>
	<li><a href="/admin/app">Manage Apps</a></li>
	<li><a href="/admin/room">Manage Rooms</a></li>
	<li><a href="/admin/user">Manage Users</a></li>
	<li><a href="/admin/bridge">Manage Bridged logins</a></li>
	<li><a href="/admin/verification">Manage Verifications</a></li>
	<li><a href="/admin/file">Manage Files</a></li>
	<li><a href="/admin/roomdata">Manage Roomdata</a></li>
	<li><a href="/admin/connection">Manage Connections</a></li>
	<li><a href="/admin/acl">Manage ACL</a></li>
	<li><a href="/admin/option">Manage Options</a></li>
	<li><a href="/admin/log">Manage Logs</a></li>
	<li><a href="/admin/testing">Testing Operations</a></li>
</ul>
