      	<div>
        	<label><strong>App shortcode:</strong></label>
    	   	<span>{{obj.shortcode}}</span>
      	</div>
    	<div>
        	<label><strong>Name:</strong></label>
    	   	<span>{{obj.name}}</span>
      	</div>
    	<div>
        	<label><strong>Label:</strong></label>
    	   	<span>{{obj.label}}</span>
      	</div>
      	<div>
        	<label><strong>Description:</strong></label>
    	   	<span>{{obj.description}}</span>
      	</div>
