<br/>
<hr/>
<ul>
  <li><a href="/">home</a></li>
  <li><a href="/register">register</a></li>
  <li><a href="/login">login</a></li>
  <li><a href="/login/email">login vie email</a></li>
  <li><a href="/login/facebook">Login with facebook</a></li>
  <li><a href="/login/twitter">Login with twitter</a></li>
  <li><a href="/login/google">Login with google</a></li>
  <li><a href="/profile">profile</a></li>
  <li><a href="/membersonly">members only page</a></li>
  <li><a href="/admin">admin</a></li>
  <li><a href="/logout">logout</a></li>

</ul>
