<br/>
<hr/>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/login/email">Login vie email</a></li>
  <li><a href="/login/facebook">Login with facebook</a></li>
  <li><a href="/login/twitter">Login with twitter</a></li>
  <li><a href="/login/google">Login with google</a></li>
  <li><a href="/profile">User profile</a></li>
  <li><a href="/membersonly">Members only page</a></li>
  <li><a href="/admin">Admin</a></li>
	<li><a href="/api">API Access</a></li>
  <li><a href="/logout">Logout</a></li>

</ul>
