{{#if jrResult.items.success}}
<div class="jrResultList jrSuccessList">
    <ul>
    {{#each jrResult.items.success}}
        <li>{{this}}</li>
    {{/each}}
    </ul>
</div>
{{/if}}


{{#if jrResult.items.message}}
<div class="jrResultList jrMessageList">
    <ul>
    {{#each jrResult.items.message}}
        <li>{{this}}</li>
    {{/each}}
    </ul>
</div>
{{/if}}


{{#if jrResult.items.error}}
<div class="jrResultList jrErrorList">
    <h2>{{jrPluralize jrResult.items.error "Error" "Errors"}}:</h2>
    <ul>
    {{#each jrResult.items.error}}
        <li>{{this}}</li>
    {{/each}}
    </ul>
</div>
{{/if}}
